<ion-header>
  <ion-toolbar>
    <ion-title>Calender</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="padding-top">
    <ion-row class="ion-justify-content-between">
      <ion-col size="12" size-lg="4" size-md="12" >
       <div class="ion-justify-content-center flex ion-align-items-center">
        <ion-button color="primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">Previous</ion-button>
        <ion-button color="primary"  mwlCalendarToday [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">Today</ion-button>
        <ion-button color="primary"   mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">Next</ion-button>
    
       </div>
          
      
        </ion-col>
        <ion-col size="12" size-lg="4" size-md="12">
          <h3 class="ion-justify-content-center flex ion-align-items-center">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </ion-col>
        <ion-col size="12" size-lg="4" size-md="12" >
          <div class="ion-justify-content-center flex ion-align-items-center">
            <ion-button color="primary" (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month">Month</ion-button>
              <ion-button color="primary" (click)="setView(CalendarView.Week)"
              [class.active]="view === CalendarView.Week">Week</ion-button>
              <ion-button color="primary"   (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">Day</ion-button>
          
          </div>
            
        </ion-col>
    </ion-row>
  </ion-grid>


  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-day-view>
  </div>






  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>


</ion-content>