<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="padding-top student-info">
    <ion-row class="student">
      <ion-col class="cards" size="12" size-sm="6" size-md="6" size-lg="6" *ngFor="let noti of notification">
        <ion-card class="card" >
          <div class="image-conatiner">
            <ion-img *ngIf="noti.Image" src="{{noti.Image}}"></ion-img>
          </div>
         
          <ion-card-header>
            <ion-card-title *ngIf="noti.subject">
              <p>{{noti.subject}}</p>
            </ion-card-title>
            <ion-card-subtitle *ngIf="noti.heldDate">Date: <b>{{noti.heldDate}}</b></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content *ngIf="noti.description">
            <span>{{noti.description}}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="itemsCount==0">
      <div class="no-item">
        <ion-img
          src="https://cdn.dribbble.com/users/1231865/screenshots/11157048/media/bc9427646c632ded563ee076fdc5dfda.jpg?compress=1&resize=400x300">
        </ion-img>
      </div>
    </ng-container>
  </ion-grid>
</ion-content>
