// .image-container{
//     height: 60%;
//     display: flex;
// }
// p{
//     font-size: 2rem;
//     color:var(--ion-color-primary);
//     font-weight: 700;
//     text-align: center;
// }
ion-card.card {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background: #353535; */
    /* font-size: 3rem; */
    /* color: #fff; */
    /* box-shadow: rgb(3 8 20 / 10%) 0px 0.15rem 0.5rem, rgb(2 8 20 / 10%) 0px 0.075rem 0.175rem; */
     height: 100%; 
    /* width: 100%; */
    /* border-radius: 4px; */
    transition: all 500ms;
    /* overflow: hidden; */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* padding: 0; */
    margin: 0;
}