<ion-header  translucent>
 <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="padding-top student-info">
    <ion-row class="student">
      @for (noti of notification; track noti) {
        <ion-col class="cards" size="12" size-sm="4" size-md="4" size-lg="4">
          <ion-card class="card" >
            <div class="image-conatiner">
              @if (noti?.Image) {
                <ion-img src="{{noti.Image}}"></ion-img>
              }
            </div>
            <ion-card-header>
              <p>{{noti.subject}}</p>
              @if (noti.heldDate) {
                <ion-card-subtitle>Date: <b>{{noti.heldDate}}</b></ion-card-subtitle>
              }
            </ion-card-header>
            @if (noti.description) {
              <ion-card-content>
                <span>{{noti.description}}</span>
              </ion-card-content>
            }
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>
