<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>School Fee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex justify-content-end">
    <ion-button color="primary" (click)="onBtExport()">Export to Excel</ion-button>
    <!-- <ion-button color="primary" (click)="saveData()">Save Data</ion-button> -->
    <ion-button color="primary" (click)="addStudent()">Add Student</ion-button> 
  </div>
<ag-grid-angular
   style="width: 100%; height: 100%"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="rowData"
   [rowSelection]="'multiple'"
   [animateRows]="true"
   (gridReady)="onGridReady($event)"
   (cellClicked)="onCellClicked($event)"
   [allowContextMenuWithControlKey]="true"
   [getContextMenuItems]="getContextMenuItems"
   [sideBar]="true"
   [groupIncludeTotalFooter]="true"
 ></ag-grid-angular>
</ion-content>
