<ion-header translucent>
 <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>School Fee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="auto">
          <ion-button color="primary" size="small" (click)="onBtExport()">Export to Excel</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="primary" size="small" (click)="addStudent()">Add Student</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="primary" size="small" (click)="updateWholeData()">Refresh Student</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-list>
            <ion-item>
              <ion-select placeholder="Select Session" size="small" interface="action-sheet" #session
                (ionChange)="selectSession(session.value)">
                <ion-select-option value="24-25">24-25</ion-select-option>
                <ion-select-option value="23-25">23-24</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
<ag-grid-angular
   style="width: 100%; height: 100%"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="filterData"
   [rowSelection]="'multiple'"
   [animateRows]="true"
   (gridReady)="onGridReady($event)"
   (cellClicked)="onCellClicked($event)"
   [allowContextMenuWithControlKey]="true"
   [getContextMenuItems]="getContextMenuItems"
   [sideBar]="true"
   [groupIncludeTotalFooter]="true"
 ></ag-grid-angular>
</ion-content>
