:root {
  --myvi-space-0-125rem: 0.125rem;
  --myvi-space-7rem: 7rem;
  --myvi-space-6-25rem: 6.25rem;
  --myvi-space-9-125rem: 9.125rem;
  --myvi-color-opacity: 1;
  --myvi-space-0-25rem: 0.25rem;
  --myvi-base-green-100: #dcfce7;
}
