ion-header translucent>
 <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Store Tx List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bill-content ion-padding">
  <ion-list lines="none">
    @for (bill of bills; track bill) {
      <ion-item class="bill-item">
        <ion-label class="bill-details">
          <h2 class="customer-name">{{ bill.customerName }}</h2>
          <p class="bill-info">Bill Number: {{ bill.billNumber }} | Note: {{ bill.note }} | Date: {{ bill.date.toDate() |  date:"MMM dd, yyyy"}}</p>
        </ion-label>
        <ion-button fill="clear" slot="end" (click)="toggleDetails(bill)">
          {{ bill.showDetails ? 'Hide Details' : 'Show Details' }}
        </ion-button>
      </ion-item>
      @if (bill.showDetails) {
        <div>
          <ion-list>
            @for (item of bill.items; track item) {
              <ion-item class="item-details">
                <ion-label>
                  <p class="item-name">{{ item.itemName }}</p>
                  <p class="item-details">Unit Price: {{ item.unitPrice| currency:'INR' }} | Unit Purchased: {{ item.quantityNeeded }} | Total: {{ item.totalPrice | currency:'INR' }}</p>
                </ion-label>
              </ion-item>
            }
            <ion-item class="ion-text-end ion-float-right"> <div><ion-chip [outline]="true">Total Price: {{bill.totalPrice| currency:'INR' }}</ion-chip> </div></ion-item>
          </ion-list>
        </div>
      }
    }
  </ion-list>
</ion-content>




