<ion-header  translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="padding-top">
    <ion-row *ngFor="let event of events">
      <ion-col  >
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle *ngIf="event.source">Source: {{event.source.name}}</ion-card-subtitle>
            <ion-card-title *ngIf="event.title">{{event.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="event.description">{{event.description}}</ion-card-content>
        </ion-card>
        <ion-row>
          <ion-col size="12" size-sm="6" size-md="4" *ngFor="let img of event.urlToImage">
        <ion-card >
          <ion-img src="{{img}}"></ion-img>
        </ion-card>
        </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
