<ion-header translucent>
 <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Idioms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="padding-top student-info">
    <ion-row class="student">
      @for (idiom of idioms; track idiom; let  i = $index) {
        <ion-col size="12" size-sm="6" size-md="4">
          <ion-card  color="light">
            <div>

            
            <!-- <div class="img-icon">
              <ion-img src="assets/icon/favicon.png">
              </ion-img>     
            </div> -->

            <ion-card-header color="primary">
              <ion-card-subtitle>
                <p>{{idiom.phrase}}</p>
              </ion-card-subtitle>
            </ion-card-header>
            <br>
            <ion-card-content color="success">
              @if(idiom.image) {
                <ion-img [src]="idiom.image"></ion-img>
               } @else {
                <ion-img src="https://cdn.firstcry.com/education/2022/10/08171309/Idioms-For-Kids-Importance-And-Activities.jpg"></ion-img>
               }
              
              
              <div class="info">
                <b>Explanation:</b> {{idiom.explanation}}
              </div>
              <br/>
              <div class="info">
                <b>Example:</b> {{idiom.example}}
              </div>

            </ion-card-content>
            </div>
          </ion-card>
        </ion-col>
    }
    </ion-row>
  </ion-grid>
</ion-content>
