<ion-header  translucent>
 <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>School Fee Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
     <ion-grid>
       <ion-row class="ion-justify-content-end">
         <ion-col size="auto">
           <ion-list>
             <ion-item>
               <ion-select placeholder="Select Session" size="small" interface="action-sheet" #session
                 (ionChange)="selectSession(session.value)">
                 <ion-select-option value="24-25">24-25</ion-select-option>
                 <ion-select-option value="23-25">23-24</ion-select-option>
                   <ion-select-option value="22-23">22-23</ion-select-option>
               </ion-select>
             </ion-item>
           </ion-list>
         </ion-col>
       </ion-row>
     </ion-grid>
  <ion-grid>
    <ion-list inset="true">
      <ion-accordion-group multiple>
        @for (month of autoFeeMonthwise; track month) {
          <ion-accordion [value]="month.month">
            <ion-item slot="header">
              <ion-label>{{month.month}}</ion-label>
            </ion-item>
            <ion-list slot="content">
              @for (studenfInfo of month.studentInf; track studenfInfo) {
                <ion-item-sliding >
                  <ion-item-options side="start">
                    <ion-item-option (click)="showModal(studenfInfo.name)">Detail</ion-item-option>
                  </ion-item-options>
                  <ion-item (click)="showModal(studenfInfo.name)">
                    <ion-thumbnail slot="start">
                      <img src="{{studenfInfo.image}}">
                    </ion-thumbnail>
                    <ion-label>{{ studenfInfo.name|titlecase }} </ion-label>
                    <ion-label >{{ studenfInfo.class }} </ion-label>
                    <!-- <ion-label >{{ studenfInfo.mobile }} </ion-label> -->
                    <ion-label slot="end">{{ studenfInfo.value }} </ion-label>
                  </ion-item>
                  <ion-item-options side="end">
                    <ion-item-option >Detail</ion-item-option>
                  </ion-item-options>
                </ion-item-sliding>
              }
            </ion-list>
          </ion-accordion>
        }
      </ion-accordion-group>
    </ion-list>
  </ion-grid>
</ion-content>

