<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid >
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-no-margin background">
          <div class="slide">
            <img class="main" src="assets/icon/favicon.png" />
        </div>
          
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center" color="primary">Sri Aurobindo Integral Education Center, Paikakushadiha</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-label *ngIf="todaysQoute"><q>{{todaysQoute?.qoute}}</q>
              <br>
              -{{todaysQoute?.by}}</ion-label>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
      <ion-col size="12">
        
          <ion-card class="ion-no-margin">
            <div class="slide">
              <img class="second"
              src="https://firebasestorage.googleapis.com/v0/b/saiecmatrutritha.appspot.com/o/schoolStudent.jpg?alt=media&token=386fc046-325b-4d0a-9200-c0e3ecb0618e" />
            </div>
            <ion-card-header>
              <ion-card-subtitle class="ion-text-center">Welcome</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
      
      </ion-col>
 
      <ion-col size="12">
        
          <ion-card class="ion-no-margin">
            <div class="slide">
              <img src="https://images.squarespace-cdn.com/content/v1/58bce175e3df28ba49876b49/1542758927221-JJ8PROTW65V6FXH0Q4ZS/HS_Banner2.jpg?format=1200w" />
            </div>
            <ion-card-header>
              <ion-card-subtitle class="ion-text-center">Why SAIEC?</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              <ion-label ><q>True knowledge is not attained by thinking. It is what you are; it is what you become.</q></ion-label>
              <br>
              <div class="ion-text-end">
                <ion-label >
                  ― Sri Aurobindo & The Mother
                </ion-label>
              </div>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>
</ion-content>