ion-slides {
    height: 100%;
   // background-image: url('https://media.istockphoto.com/illustrations/abstract-painting-butterfly-illustration-id1066472482?k=20&m=1066472482&s=612x612&w=0&h=1SxR3NphyWpp-Jfc_5nAQet0Zl8gXu56NbKjqVswaiY=');
    -o-object-fit: cover;
    object-fit: cover;
    background-repeat: repeat-y;
    font-weight: 600;
    color: black;
    margin: 0;
    background-position: center;
    background-size: cover;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {

    max-height: 50%;
    max-width: 100%;
    pointer-events: none;
    border-radius: 5%;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }
  // img{
  //   height: 400px;
  // }
  .slide{
    display: flex;
    justify-content: center;
    img{
      &.main{
        height: 14rem;
      }
      &.second{
        height: 50vh;
      width: 100%;
      object-fit: cover;
      }
    }
  }
  .background{
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149005675.jpg?t=st=1668735547~exp=1668736147~hmac=89e9e11…);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  ion-img{
    width: 100%;
  }