<picture>
  <source
    *ngIf="image2xl"
    [media]="breakpoint2xl"
    [srcset]="image2xl"
    data-testid="source-extra-extra-large"
  />
  <source
    *ngIf="imageXl"
    [media]="breakpointXl"
    [srcset]="imageXl"
    data-testid="source-extra-large"
  />
  <source
    *ngIf="imageLg"
    [media]="breakpointLg"
    [srcset]="imageLg"
    data-testid="source-large"
  />
  <source
    *ngIf="imageMd"
    [media]="breakpointMd"
    [srcset]="imageMd"
    data-testid="source-medium"
  />
  <source
    *ngIf="imageSm"
    [media]="breakpointSm"
    [srcset]="imageSm"
    data-testid="source-small"
  />
  <img
    *ngIf="imageXs"
    [attr.title]="imageTitle"
    [ngClass]="imageClass"
    [src]="imageXs"
    data-testid="picture-image"
  />
</picture>
