<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title()}}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar
      [(ngModel)]="searchQuery"
      [debounce]="250"
      (ionInput)="onInput()"
      showCancelButton="focus"
      value=""
      animated
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <div class="action-top">
      <div class="grid-view">
        <ion-chip color="primary">
          <ion-label color="dark">Total Student: {{totalStudent$|async}}</ion-label>
        </ion-chip>
      </div>
      <div class="grid-view">
        <ion-toggle color="success" name="blueberry" [(ngModel)]="gridValue"
          >List View</ion-toggle
        >
      </div>
    </div>
  </ion-grid>
  @if (!gridValue) {
  <ion-grid class="padding-top student-info">
    <ion-row class="student">
      @for (std of allStudentInfo$|async; track std) { 
        @if (std && std['Status']==='Active' || std['Status']==='Y') {
          @defer{
          <ion-col size="12" size-sm="6" size-md="4" size-lg="4">
            <app-profile-card [student]="std"></app-profile-card>
          </ion-col>
        }
      } 
    }
    </ion-row>
    @if (itemsCount===0) {
    <div class="no-item">
      <ion-img
        src="https://cdn.dribbble.com/users/1231865/screenshots/11157048/media/bc9427646c632ded563ee076fdc5dfda.jpg?compress=1&resize=400x300"
      >
      </ion-img>
    </div>
    }
  </ion-grid>
  } @else {
    @defer{
      
      <app-student-grid  *ngIf="allStudentInfo$ | async as users"
      [allStudentInfo]="users"
      [sortByProperty]="'class'">
    </app-student-grid>
    }
  } @if ((loaded$|async)===false) {
  <ion-grid class="padding-top student-info">
    <ion-row class="student">
      @for (std of [1,2,3,4,5,6]; track std) {
      <ion-col size="12" size-sm="6" size-md="4" size-lg="4">
        <ion-card>
          <div class="image-conatiner">
            <ion-thumbnail slot="start">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-thumbnail>
          </div>
          <ion-card-header>
            <ion-card-title>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-card-title>
            <ion-card-subtitle>
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 80%"
                  ></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 60%"
                  ></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text
                    [animated]="true"
                    style="width: 30%"
                  ></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <div class="action">
              <ion-button
                class="ion-activatable ripple-parent"
                shape="round"
                color="primary"
                size="small"
                [class.button-disabled]="true"
                >Detail
              </ion-button>
              <ion-button
                class="ion-activatable ripple-parent"
                shape="round"
                color="primary"
                [class.button-disabled]="true"
                size="small"
                >Report
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
  }
</ion-content>
