.image-container {
    height: 60%;
    display: flex;
}

p {
    font-size: 1.2rem;
    // color: var(--ion-color-primary);
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-conatiner {
    display: flex;
    justify-content: center;

    ion-img {
        height: 12rem;
        width: 12rem;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;

        &::part(image) {
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }
}

ion-card {
    filter: drop-shadow(1px 1px 5px #d2d2d2);
    background-image: url(https://garden.spoonflower.com/c/13101339/p/f/l/fjHjsyQBT_ech3yOPBbmDVoIagTfrVJXarQhkniX_VksyCGTA63lCdg/Back%20to%20School%20Vintage%20Pink%20Pattern.jpg);
    -o-object-fit: cover;
    object-fit: cover;
    background-repeat: repeat-y;
    font-weight: 600;
    background-size: cover;
    color: black;
    margin: 0;
}

ion-card-subtitle {
    color: black;
    font-weight: 600;
}

.img-icon {
    position: absolute;
    top: 0;
    right: 0;

    ion-img {
       
        height: 45px;
        width: 45px;
        clear: both;
    }
    .bp {
        background: var(--ion-color-secondary);
        padding: 5px;
        width: 3rem;
        border-radius: 10px 0 0 10px;
        margin-top: 8px;
        clear: both;
        font-size: 1rem;
        text-align: center;
        &.out{
            background: var(--ion-color-warning);
        }
        &.blood{
            background:var(--ion-color-warning);
        }
    }
}

.no-item {
    ion-img {
        height: 15rem;
    }
}

ion-toggle {
    height: 1.5rem;
}

.grid-view {
  //  display: flex;
  //  justify-content: end;
  //  align-items: center;
}
.info{
    text-align: center;
}
.action-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action{
    display: flex;
    justify-content: center;
    .button{
        width: 45%;
    }
}
.glossy{
    backdrop-filter: blur(12px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #8fbbde29;
}