.image-container {
    height: 60%;
    display: flex;
}

p {
    font-size: 1.2rem;
    // color: var(--ion-color-primary);
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

.image-conatiner {
    display: flex;
    justify-content: center;

    ion-img {
        height: 12rem;
        width: 12rem;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;

        &::part(image) {
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }
}

ion-card {
    //border-left: 1rem solid #90caf9;
    filter: drop-shadow(1px 1px 5px #d2d2d2);
    background-image: url(https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=300);
    object-fit: cover;
    background-repeat: repeat-y;
    font-weight: 600;
    background-size: cover;
    color: black;
}

ion-card-subtitle {
    color: black;
    font-weight: 600;
}

.img-icon {
    position: absolute;
    top: 0;
    right: 0;

    ion-img {
       
        height: 45px;
        width: 45px;
        clear: both;
    }

    .bp {
        background: #2dd36f;
        padding: 5px;
        width: 3rem;
        border-radius: 10px 0 0 10px;
        margin-top: 8px;
        clear: both;
        font-size: 1rem;
        text-align: center;
    }
}

.no-item {
    ion-img {
        height: 15rem;
    }
}

ion-toggle {
    height: 1.5rem;
}

.grid-view {
  //  display: flex;
  //  justify-content: end;
  //  align-items: center;
}
.info{
    text-align: center;
}