<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()" fill="clear">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Transaction Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
        <ion-col size="12" size-sm="12" size-md="12" size-lg="12" >
            <div class=" form-container"> 
                <form  [formGroup]="transactionForm">
                  <div class="image-container">
                    <ion-img class="image" src="assets/icon/favicon.png"></ion-img>
                    
                   </div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Event Name</mat-label>
                        <input type="text" matInput formControlName="eventName">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Date</mat-label>
                        <input type="text" matInput formControlName="date" placeholder="mm/dd/yy">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <ion-label>Description</ion-label>
                        <input type="text" matInput formControlName="description">
                      </mat-form-field>
                      <h1>Expenditure</h1>
                      <div  *ngFor="let t of t?.controls; let i = index; let last = last">
                        <div [formArrayName]="i" class="form-row">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Item Name</mat-label>
                            <input type="text" matInput formControlName='item'> 
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Price</mat-label>
                            <input type="text" matInput formControlName='price'>
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Description</mat-label>
                            <input type="text" matInput formControlName='desc'>
                          </mat-form-field>
                          <ion-button (click)="delete(i)" class="edit ion-float-right" color="danger" >
                            <ion-icon name="trash"></ion-icon>
                          </ion-button>
                          <ion-button  shape="round" class="ion-float-right"(click)="addItem()" *ngIf="last">
                            Add Item
                          </ion-button>
                          
                        </div>
                      </div>
                      <h1>Collection</h1>
                      <div  *ngFor="let c of c?.controls; let i = index; let last = last">
                        <div [formArrayName]="i" class="form-row">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Item Name</mat-label>
                            <input type="text" matInput formControlName='item'> 
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Price</mat-label>
                            <input type="text" matInput formControlName='price'>
                          </mat-form-field>
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Description</mat-label>
                            <input type="text" matInput formControlName='desc'>
                          </mat-form-field>
                         
                          <ion-button (click)="deleteCollection(i)" class="edit ion-float-right" color="danger" >
                            <ion-icon name="trash"></ion-icon>
                          </ion-button>
                          <ion-button  shape="round" class="ion-float-right" (click)="addCollectionItem()" *ngIf="last">
                            Add Item
                          </ion-button>
                        </div>
                      </div>
                      
                      <ion-button (click)="submit()" shape="round" >
                       save
                      </ion-button>
                  </form>
            </div>
        </ion-col>
    </ion-row>
    
  </ion-grid>
 
</ion-content>
