<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Event Transaction Book</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-end">
    <ion-button (click)="showModal()" fill="clear">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-button>
  </div>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-sm="12"  *ngFor="let item of transactions">
        <ion-card class="ion-no-padding ion-no-margin" color="light">
          <div class="">
              <!-- <ion-icon name="pencil"></ion-icon> -->
              <ion-chip color="success">
                <ion-icon name="pin" color="primary"></ion-icon>
                <ion-label color="primary">Collection:{{item.totalCollection}} </ion-label>
              </ion-chip>
              <ion-chip color="success">
                <ion-icon name="pin" color="primary"></ion-icon>
                <ion-label color="primary">Expenditure:{{item.totalExpeniditure}} </ion-label>
              </ion-chip>
              <ion-chip color="success">
                <ion-icon name="pin" color="primary"></ion-icon>
                <ion-label color="primary">Balance:{{item.balance}} </ion-label>
              </ion-chip>   
          </div>
          <div class="ion-text-end">
            <ion-button  (click)="showModal(item,'edit')" fill="solid" color="primary">
              <ion-icon name="pencil"></ion-icon>
              <ion-label>Edit</ion-label>
            </ion-button>
          </div>
         
          <ion-card-header>
            <ion-card-subtitle> {{item.date}}</ion-card-subtitle>
            <ion-card-title>{{item.eventName}}</ion-card-title>
          </ion-card-header>
      
          <ion-card-content>
            {{item.description}}
            <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label>Collection</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-list>
                    <ion-item *ngFor="let exp of item.collection">
                      <ion-label slot="start" [title]="exp.item">{{exp.item}}</ion-label>
                      <ion-label [title]="exp.price">{{exp.price}}</ion-label>
                      <ion-label [title]="exp.desc">{{exp.desc}}</ion-label>
                    </ion-item>  
                  </ion-list>
                </div>
              </ion-accordion>
              <ion-accordion value="second">
                <ion-item slot="header" color="light">
                  <ion-label>Expenditure</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-list>
                    <ion-item *ngFor="let exp of item.items">
                      <ion-label slot="start" [title]="exp.item">{{exp.item}}</ion-label>
                      <ion-label [title]="exp.price">{{exp.price}}</ion-label>
                      <ion-label [title]="exp.desc">{{exp.desc}}</ion-label>
                    </ion-item>

                    
                    
                  </ion-list>
                  
                </div>
              </ion-accordion>
              
            </ion-accordion-group>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>