@use '../../../styles/variables/breakpoints' as breakpoints;

nav.is-vertical {
  grid-template-columns: repeat(auto-fill, 5.4375rem);
  margin-left: calc(var(--grav-space-s) * -1);
  margin-right: calc(var(--grav-space-s) * -1);
}

.grid-custom-cols-4 {
  grid-template-columns: repeat(auto-fill, var(--grav-space-5-xl));
}

@media #{map-get(breakpoints.$media_queries, 'lg')} {
  .grid-custom-18 {
    grid-template-columns: repeat(auto-fill, 18rem);
  }

  .grid-custom-cols-21_25 {
    grid-template-columns: repeat(auto-fill, 21.25rem);
  }
}
