<app-default-template>
  <ng-container body>
    <app-title text="403"></app-title>

    <div class="-mt-5-xl d-flex h-full flex-col items-center justify-center">
      <h2
        class="pb-l grav-text-header-2-bold text-center lg:grav-text-header-bold"
      >
        {{ 'AccessDenied.Message' | transloco }}
      </h2>
      <button class="m-l" data-testid="button" ghost routerLink="/">
        {{ 'General.GoToHome' | transloco }}
      </button>
    </div>
  </ng-container>
</app-default-template>
