.image-container {
    height: 60%;
    display: flex;
}

p {
    font-weight: 600;
    text-decoration: dashed;
    text-align: center;
    color: #000;
    &.title{
        background: var(--ion-color-primary);
        padding: 5px;
        border-radius: 5px;
        color: #fff;
    }
}

.image-conatiner {
    display: flex;
    justify-content: center;

    ion-img {
        height: 12rem;
        width: 12rem;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;

        &::part(image) {
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
        }
    }
}

ion-card {
    //border-left: 1rem solid #90caf9;
    background-image: url(https://cdn.pixabay.com/photo/2016/07/19/22/36/postcard-1529121_640.png);
    -o-object-fit: cover;
    object-fit: cover;
    background-repeat: repeat-y;
    font-weight: 600;
    background-size: cover;
    color: black;
    margin: 0;
    background-position: top;
    background-size: auto;
    &.top-card{
    border-radius: 0 !important;
    background-image: url(https://www.nicepng.com/png/detail/254-2541440_birthday-parties-happy-birthday-vector-png.png);
    height: 50vh;
    background-position: center;
    background-origin: border-box;
    background-origin: content-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    }
}

ion-card-subtitle {
    color: black;
    font-weight: 600;
}

