// .image-container{
//     height: 60%;
//     display: flex;
// }
p{
    color:var(--ion-color-primary);
    font-weight: 700;
    text-align: center;
}
// ion-img.image {
//     width: 100%;
//     object-fit: cover;
// }