<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adv</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-container">
    <ion-img class="image" src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/school-admission-open-flyer-template-design-987a7916e696bdf710a7512a5cb970b9_screen.jpg"></ion-img>
  </div>
 <p>Admisssion Opened <b>Free</b> </p>
 <ion-img class="image" src="https://i.pinimg.com/originals/01/76/dd/0176dd7f08a3db2e072f9e83cbd93fd1.jpg"></ion-img>  


</ion-content>
