<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Staff Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-list inset="true">
     
        <ion-row class="ion-justify-content-end">
     
            <ion-list>
              <ion-item>
                <ion-select
                justify="end"
                  placeholder="Filter By Session"
                  #sessionTag
                  (ionChange)="sessionBy(sessionTag
                  .value)"
                  label="Filter By"
                  slot="end"
                  [value]="session[session.length-1]"
                  interface="popover"
                >
                  @for(session of session; track session){
                  <ion-select-option [value]="session"
                    >{{session}}</ion-select-option
                  >
                  }
                </ion-select>
              </ion-item>
            </ion-list>
          
        </ion-row>
     
      <ion-accordion-group multiple>
        @for (month of feeMonthwise; track month) {
        <ion-accordion [value]="month.month">
          <ion-item slot="header">
            <ion-label>{{month.month}}</ion-label>
          </ion-item>
          <ion-list slot="content">
            @for (staffInfo of month.studentInf; track staffInfo) {
            <ion-item-sliding>
              <ion-item-options side="start">
                <ion-item-option (click)="showModal(staffInfo.name)"
                  >Detail</ion-item-option
                >
              </ion-item-options>
              <ion-item (click)="showModal(staffInfo.name)">
                <ion-thumbnail slot="start">
                  <img src="{{staffInfo.image}}" />
                </ion-thumbnail>
                <ion-label>{{ staffInfo.name|titlecase }} </ion-label>
                <ion-chip color="primary">
                  <ion-label color="primary"> {{ staffInfo.value }} </ion-label>
                  <ion-label color="warning">
                    /{{staffInfo.payment}}
                  </ion-label>
                </ion-chip>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option>Detail</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
            }
          </ion-list>
        </ion-accordion>
        }
      </ion-accordion-group>
    </ion-list>
  </ion-grid>
</ion-content>
