<ion-app color="light">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" #menu [class.compact]="isCompactView">
      <ion-content>
        <ion-list id="inbox-list">
          <div class="image-container ion-text-center">
            <ion-img class="image" src="assets/icon/favicon.png"></ion-img>
            <ion-card-subtitle class="ion-margin-top">
              <ion-label class="ion-text-center text">{{name}}</ion-label>
            </ion-card-subtitle>
          </div>
          @for (p of appPages; track p; let  i = $index) {
            <ion-menu-toggle menu="first" autoHide="false" menuClose="true">
              @if (p.access) {
                <ion-item
                  (click)="selectedIndex=i; p.open=!p.open"
                  [routerLink]="[p.url]"
                  [routerLinkActive]="'active'"
                  [routerLinkActiveOptions]="{exact: p.url === '/'}"
                  [attr.detail]="false"
                  [attr.lines]="'none'"
                  [class.parent-active]="p.open"
                  >
                  <ion-icon [name]="p.icon" slot="start"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                  @if (p.children && p.children.length > 0) {
                    <ion-icon
                      [name]="p.open ? 'chevron-down' : 'chevron-forward'"
                      slot="end"
                    ></ion-icon>
                  }
                </ion-item>
                @if (p.open) {
                  <ion-list>
                    @for (sub of p.children; track sub) {
                      <ion-item
                        [routerLink]="sub.url"
                        [routerLinkActive]="'active'"
                        [attr.detail]="false"
                        [attr.lines]="'none'"
                        class="sub-item"
                        >
                        <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                        <ion-label>{{ sub.title }}</ion-label>
                      </ion-item>
                    }
                  </ion-list>
                }
              }
            </ion-menu-toggle>
          }
        </ion-list>

        <ion-list>
          <ion-item lines="none">
            <ion-icon slot="start" name="moon"></ion-icon>

            <ion-toggle id="themeToggle" (click)="toggleDarkTheme()"> <ion-label>
              Theme
            </ion-label></ion-toggle>
          </ion-item>
          <ion-item class="ion-right" lines="full">
            <ion-icon slot="start" name="person-circle-outline"></ion-icon>
            <ion-label>{{user?.displayName}}</ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-hide-lg-down" (click)="toggleMenuView()">
            @if(isCompactView){
              <ion-icon slot="start" name="play-forward-outline" size="small"></ion-icon>
            }@else{
              <ion-icon slot="start" name="play-back-outline" size="small"></ion-icon>
            }
           
            
          </ion-item>
        
        </ion-list>
      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

</ion-app>