<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" fill="clear">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Exam Detail Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12">
        <div class=" form-container">
          <form [formGroup]="examForm">
            <div class="image-container">
              <ion-img class="image" src="assets/icon/favicon.png"></ion-img>

            </div>
            <ion-label>{{info.sub}}:{{info.year}}</ion-label>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Oral total </mat-label>
              <input type="text" matInput formControlName="oralTotal">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Oral Mark Obtained </mat-label>
              <input type="text" matInput formControlName="oralAcc">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Written total </mat-label>
              <input type="text" matInput formControlName="writtenTotal">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Written Mark Obtained </mat-label>
              <input type="text" matInput formControlName="writtenAcc">
            </mat-form-field>


            <ion-button (click)="submit()" shape="round">
              save
            </ion-button>
          </form>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>