<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Exam Form</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="all-pages"  >
  <ion-grid class="padding-top student-info" [ngClass]="'a4'">
    <ion-card class="inner ion-no-margin ion-margin-top" color="light" >
    <ion-row class="student">
     
        <ion-col size="12" size-sm="4">
          <ion-list>
            <ion-item>
              <ion-select placeholder="Select STD" interface="action-sheet" #class
                (ionChange)="selectStd(class.value)">
                <ion-select-option [value]="item" *ngFor="let item of classList">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-sm="4">
          <ion-list>
            <ion-item>
              <ion-select placeholder="Select Student" interface="action-sheet" #student
                (ionChange)="selectStudent(student.value)" >
                <ion-select-option [value]="item" *ngFor="let item of names">{{item}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-sm="4">
          <ion-list>
            <ion-item>
              <ion-select placeholder="Select Month" interface="action-sheet" #month
                (ionChange)="selectMonth(month.value)"  >
                <ion-select-option value="All">ALL</ion-select-option>
                <ng-container *ngFor="let item of months">
                  <ion-select-option [value]="item">{{item}}</ion-select-option>
                </ng-container>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      
    </ion-row>
    </ion-card>
      <ng-container *ngFor="let monthData of selectedStudentInfo?.markInfo">
        <ng-container *ngIf="monthData.visible">
          <ion-card  class="inner ion-no-margin ion-margin-top" color="light">
          <ion-row>
            <ion-item-divider>
                <ion-text>
                  <ion-chip >
                     <ion-icon name="calendar-number-outline"color="primary" class="ion-margin-right"></ion-icon> <ion-label>{{monthData.name}}</ion-label></ion-chip>
              </ion-text>
            </ion-item-divider>
            
          </ion-row> 
          <ion-row class="student">
            <ion-col size="12" size-lg="6" *ngFor="let item of monthData.marks">
              <div class="subs">
                <ion-card class="inner ion-no-margin ion-margin-top" color="light" >
                  <ion-item lines="full">
                    <div slot="end" *ngIf="isAuthorized">
                      <ion-button  (click)="showModal(item,monthData)" fill="solid" color="primary">
                        <ion-icon name="pencil"></ion-icon>
                        <ion-label>Edit</ion-label>
                      </ion-button>
                    </div>
                    <ion-chip color="primary">
                      <ion-icon name="reader-outline" ></ion-icon>
                      <ion-text>{{item.sub}}</ion-text>
                    </ion-chip>

                  </ion-item>
                  <ion-card-content class="ion-no-padding">
                    <ion-item lines="full">
                      <ion-icon name="pin" slot="start" ></ion-icon>
                      <ion-text>
                        <h4>Oral:  </h4>
                      </ion-text>
                      <ion-text>
                        <h5>Mark Obtained:
                          <ion-chip color="success">{{item.oralAcc||0}}</ion-chip>
                        </h5>
                      </ion-text>
                      <ion-text slot="end">
                        <h5> Total: <ion-chip color="success">{{item.oral||0}}</ion-chip>
                        </h5>
                      </ion-text>
                    </ion-item>
                    <ion-item lines="full">
                      <ion-icon name="pin" slot="start" ></ion-icon>
                      <ion-text>  
                        <h4>Written:</h4>
                      </ion-text>
                      <ion-text >
                        <h5> Mark Obtained:
                          <ion-chip color="success">{{item.writtenAcc||0}}</ion-chip>
                        </h5>
                      </ion-text>
                      <ion-text slot="end">
                        <h5>Total: <ion-chip color="success">{{item.writtenTotal||0}}</ion-chip>
                        </h5>
                      </ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-icon name="telescope" slot="start"></ion-icon>
                      <ion-text><h5>All Total: <ion-chip color="success">{{item.total}}/{{(item.subjectTotal)||0}}</ion-chip>
                        </h5>
                      </ion-text>
                    </ion-item>
                  </ion-card-content>
      
                </ion-card>
                
              </div>
      
            </ion-col>
          </ion-row> 
          </ion-card>  
          <ion-row *ngIf="monthData.name=='Halfly' || monthData.name=='Annual'">
            <ion-col size="12">
              <ion-card  class="inner ion-no-margin ion-margin-top" color="light">
                <ion-item-divider>
                  <ion-label>
                    Non-Academic Subject
                  </ion-label>
                </ion-item-divider>
              <app-non-academic-form [formValue]="monthData" (formValueOutput)="formValueOutput($event)"></app-non-academic-form>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-button expand="full" (click)="save(monthData.name)" *ngIf="isAuthorized"> Save</ion-button>
            </ion-col>
          </ion-row>
        </ng-container>
    </ng-container>
  </ion-grid>
</ion-content>