<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gallery Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
        <ion-col size="12" size-sm="12" size-md="12" size-lg="12"  >
            <div class=" form-container">
                
                <form  [formGroup]="galleryForm">
                  <div class="image-container">
                    <ion-img class="image" src="assets/icon/favicon.png"></ion-img>
                    
                   </div>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Title</mat-label>
                        <input type="text" matInput formControlName="title">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Source</mat-label>
                        <input type="text" matInput formControlName="source">
                      </mat-form-field>
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Description</mat-label>
                        <input type="text" matInput formControlName="description">
                      </mat-form-field>
                      <div  *ngFor="let t of t?.controls; let i = index; let last = last">
                        <div [formArrayName]="i"  class="form-row">
                          <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Images</mat-label>
                            <input type="text" matInput formControlName='image'>
                            
                          </mat-form-field>
                          <ion-button (click)="delete(i)" class="edit ion-float-right" color="danger" >
                            <ion-icon name="trash"></ion-icon>
                          </ion-button>
                        </div>
                      </div>
                      <ion-button  shape="round"(click)="addImage()">
                        Add Image
                      </ion-button>
                      <ion-button (click)="save()" shape="round" >
                       save
                      </ion-button>
                  </form>
            </div>
        </ion-col>
    </ion-row>
    
  </ion-grid>
  <!-- <form [formGroup]="galleryForm" (ngSubmit)="save(galleryForm)">
    <div>
      <label>
        Title
        <input formControlName="title" placeholder="Your name">
      </label>
    </div>
    <div>
      <label>
        Source
        <input formControlName="source" placeholder="Your email">
      </label>
    </div>
    <div>
      <label>
       Description
        <input formControlName="description" placeholder="Your message">
      </label>
    </div>
    <div  *ngFor="let t of t?.controls; let i = index">
      <div [formGroup]="t" class="form-row">
        <input formControlName='image' type="text"placeholder="Enter image address" />
      </div>
      
    
    </div>
    <button (click)="addImage()">Add Image</button>
    <button type="submit">Send</button>
  </form> -->
</ion-content>
