<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gallery Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
     
        <div class="form-container">
          <form [formGroup]="galleryForm">
            <div class="image-container">
              <ion-img class="image" src="assets/icon/favicon.png"></ion-img>
            </div>

            <ion-item >
              <ion-label position="floating">Title</ion-label>
              <ion-input type="text" formControlName="title"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Source</ion-label>
              <ion-input type="text" formControlName="source"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-input type="text" formControlName="description"></ion-input>
            </ion-item>

            <div formArrayName="imageCollection">
              @for (imageGroup of t.controls; track imageGroup; let i = $index)
              {

              <div [formGroupName]="i">
                <ion-item >
                  <ion-label position="floating">Images</ion-label>
                  <ion-input type="text" formControlName="image"></ion-input>
                </ion-item>
                @if(t.controls.length>1){
                <ion-item lines="none" >
                  <ion-button
                  (click)="deleteImage(i)"
                  slot="end"
                  color="danger"
                >
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
                </ion-item>
              }
              </div>
              }
            </div>
            <div  class="ion-text-end" slot="end">
              <ion-button (click)="addImage()" size="small" outline>
                Add Image
              </ion-button>

             
            </div>
            <ion-button (click)="save()" size="small" expand="block"> Save </ion-button>
            @if(edit){
              <ion-button (click)="deleteGallery()" size="small" expand="block"> Delete </ion-button>
            }
           
          </form>
        </div>
   
    </ion-row>
  </ion-grid>
 </ion-content>
