.padding-top{
    padding: 60px 0;
  }
  p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
}
  .image-container{
      text-align: center;
      display: flex;
      justify-content: center;
      img{
        width: 200px;
      }
  }
  ion-img{
    height: 12rem;
}
 ion-card.faculty-card {
  filter: drop-shadow(1px 1px 5px #d2d2d2);
  background-image: url(https://cdn.pixabay.com/photo/2017/11/16/09/13/monogram-2953821_640.png);
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: repeat-y;
  font-weight: 600;
  color: #fff;
  background-size: auto;
  background-position: bottom;
}
ion-card-subtitle {
  color:#fff;
  font-weight: 600;
}
.image-container {
  display: flex;
  justify-content: center;

  ion-img {
      height: 12rem;
      width: 12rem;
      object-fit: cover;
      object-position: top;
      border-radius: 50%;

      &::part(image) {
          object-fit: cover;
          object-position: center;
          border-radius: 50%;
          object-fit: cover;
          object-position: top;
          border-radius: 50%;
      }
  }
}
.avatar{
  img{
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }
}