.padding-top{
    padding: 60px 0;
  }
  p{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
}
  .image-container{
      text-align: center;
      display: flex;
      justify-content: center;
      img{
        width: 200px;
      }
  }
  ion-img{
    height: 12rem;
}
 ion-card.faculty-card {
  filter: drop-shadow(1px 1px 5px #d2d2d2);
  background-image: url(https://wallpaperaccess.com/full/2523615.jpg);
  -o-object-fit: cover;
  object-fit: cover;
  background-repeat: repeat-y;
  font-weight: 600;
  color: #fff;
  background-size: cover;
}
ion-card-subtitle {
  color:#fff;
  font-weight: 600;
}