
<ion-header  translucent>
  <ion-toolbar>
    <ion-buttons slot="start" (click)='dismiss()'>
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button color="primary" text="Back" icon="add"> </ion-back-button>
    </ion-buttons>
    <ion-title>{{info[0].info.name}}</ion-title>
    <ion-icon slot="end" name='close-circle' (click)='dismiss()' class="close"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
 <ion-grid>
    <ion-list inset="true">
      <ion-list-header>
      </ion-list-header>
          <ion-list slot="content">
            <ion-item *ngFor="let studenfInfo of info">  
              <ion-label>{{ studenfInfo.month|titlecase }} </ion-label>
              <ion-label slot="end">{{ studenfInfo.info.value }} </ion-label>
            </ion-item>
          </ion-list>
      
    </ion-list>
  </ion-grid>
</ion-content>

