<ion-header  translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{info[0].info.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
 <ion-grid>
    <ion-list inset="true">
      <ion-list-header>
      </ion-list-header>
          <ion-list slot="content">
            <ion-item-sliding  *ngFor="let studenfInfo of info">
            <ion-item>
              <ion-label>{{ studenfInfo.month|titlecase }} </ion-label>
              <ion-label slot="end">{{ studenfInfo.info.value }} </ion-label>
            </ion-item>

          </ion-item-sliding>
          </ion-list>
      
    </ion-list>
  </ion-grid>
</ion-content>

