.bold {
  font-weight: 600;
}

.image-conatiner {
  display: flex;
  justify-content: center;
  position: relative;

  .img-icon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;

    ion-img {
      width: 75px;
      float: right;
    }
  }

  ion-img {
    height: 100%;
    width: 100%;
    max-height: 12rem;
    max-width: 12rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    border-radius: 5px;

    &::part(image) {
      object-fit: cover;
      object-position: center;
      object-fit: cover;
      object-position: center;
    }
  }
}
.image-setup {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-col.primary {
  background: var(--ion-color-primary, #3dc2ff);
}

.label {
  display: flex;
  align-items: center;

  ion-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

}

ion-col.d-flex {
  display: flex;
  justify-content: end;

}
.full-height {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.full-height-row {
  height: 100%;
}