@use '../variables/breakpoints' as breakpoints;

$opacity: (
    '0': 0,
    '5': 0.05,
    '10': 0.1,
    '20': 0.2,
    '25': 0.25,
    '30': 0.3,
    '40': 0.4,
    '50': 0.5,
    '60': 0.6,
    '70': 0.7,
    '75': 0.75,
    '80': 0.8,
    '90': 0.9,
    '95': 0.95,
    '100': 1
);

@each $key, $value in $opacity {
    .opacity-#{$key} {
        opacity: #{$value};
    }
    .\!opacity-#{$key} {
        opacity: #{$value} !important;
    }
    .bg-opacity-#{$key} {
        --myvi-color-opacity: #{$value};
    }
    .\!bg-opacity-#{$key} {
        --myvi-color-opacity: #{$value} !important;
    }
}

@each $breakpoint-name, $breakpoint-value in breakpoints.$media_queries {
  @media #{$breakpoint-value} {
    @each $key, $value in $opacity {
        .#{$breakpoint-name}\:opacity-#{$key} {
            opacity: #{$value};
        }
        .#{$breakpoint-name}\:\!opacity-#{$key} {
            opacity: #{$value} !important;
        }
        .#{$breakpoint-name}\:bg-opacity-#{$key} {
            --myvi-color-opacity: #{$value};
        }
        .#{$breakpoint-name}\:\!bg-opacity-#{$key} {
            --myvi-color-opacity: #{$value} !important;
        }
    }
  }
}
