ion-header translucent>
 <ion-toolbar color="primary">
    <ion-title>Offering</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-end">
    <ion-button (click)="showModal()" fill="clear">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-button>
  </div>

  <ion-list>
    @for (item of offeringList; track item) {
      <ion-item>
        <ion-label>{{item.name}}</ion-label>
        <ion-label>{{item.amount}}</ion-label>
        <ion-label>{{item.date|date}}</ion-label>
        <ion-label>{{item.description}}</ion-label>
        <ion-label slot="end">
          <button mat-icon-button [matMenuTriggerFor]="menu"  >
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="delete(item)">
              <ion-icon name="trash-outline"></ion-icon>
              <span>Delete</span>
            </button>
            <button mat-menu-item (click)="showModal(item,'edit')">
              <ion-icon name="pencil"></ion-icon>
              <span>Edit</span>
            </button>
          </mat-menu>
        </ion-label>
      </ion-item>
    }
    <ion-item>
      <ion-label color="primary">Total Collection : {{sum}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
