<ion-header translucent>
 <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>News Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="padding-top">
    <ion-row> <ion-searchbar [(ngModel)]="searchQuery" [debounce]="250" (change)="onInput()" showCancelButton="focus" value="India"
    animated></ion-searchbar>
  </ion-row>
  <ion-row>
    @for (news of NewsEverything; track news) {
      <ion-col size="12" size-sm="6" size-md="6">
        <ion-card>
          @if (news.image) {
            <ion-img src="{{news.image}}"></ion-img>
          }
          <ion-card-header>
            @if (news.source) {
              <ion-card-subtitle>Author {{news.source.name}}</ion-card-subtitle>
            }
            @if (news.url) {
              <a [href]="news.url" target="_blank">Link: {{news.url}}</a>
            }
            @if (news.title) {
              <ion-card-title>{{news.title}}</ion-card-title>
            }
          </ion-card-header>
          @if (news.description) {
            <ion-card-content>{{news.description}}</ion-card-content>
          }
        </ion-card>
      </ion-col>
    }
    @if (noArticle) {
      <ion-col>
        <ion-card>
          <ion-card-title >No Article Found</ion-card-title>
        </ion-card>
      </ion-col>
    }

  </ion-row>
</ion-grid>
@if (!NewsEverything) {
  <div>
    <ion-row>
      @for (item of [1,2,3,4,5,6]; track item) {
        <ion-col size="12" size-sm="6" size-md="6">
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      }
    </ion-row>
  </div>
}
</ion-content>
