<form [formGroup]="nonAcademicForm">
    <ion-list>
      <ion-item lines="full">
        <ion-label class="bold">Serial</ion-label>
        <ion-label class="bold">Non Academic Subject</ion-label>
        <ion-label class="bold">Grade</ion-label>
      </ion-item>  
      <ion-item lines="full">
        <ion-label >1</ion-label>
        <ion-label >Physical Education</ion-label>
        <ion-label ><input type="email" matInput formControlName="physicalEdu"></ion-label>
      </ion-item>  
      <ion-item lines="full">
        <ion-label >2</ion-label>
        <ion-label >Sense Development</ion-label>
        <ion-label ><input type="email" matInput formControlName="senseDev"></ion-label>
      </ion-item> 
      <ion-item lines="full">
        <ion-label >3</ion-label>
        <ion-label >Gardening</ion-label>
        <ion-label ><input type="email" matInput formControlName="gardening"></ion-label>
      </ion-item> 
      <ion-item lines="full">
        <ion-label >4</ion-label>
        <ion-label >Hand Work</ion-label>
        <ion-label ><input type="email" matInput formControlName="handWork"></ion-label>
      </ion-item> 
      <ion-item lines="full">
        <ion-label >5</ion-label>
        <ion-label >Musical Dance</ion-label>
        <ion-label ><input type="email" matInput formControlName="musicalDance"></ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label >6</ion-label>
        <ion-label >Creativity</ion-label>
        <ion-label ><input type="email" matInput formControlName="creativity"></ion-label>
      </ion-item>   
      <ion-item lines="full">
        <ion-label >6</ion-label>
        <ion-label >Remark</ion-label>
        <ion-label ><input type="email" matInput formControlName="remark"></ion-label>
      </ion-item> 
    </ion-list>
  </form>
