<ng-container [ngSwitch]="application$ | async">
  <div *ngSwitchCase="Applications.ProcessInsights">
    <app-full-content-template>
      <router-outlet></router-outlet>
    </app-full-content-template>
  </div>
  <div *ngSwitchCase=" Applications.SiteOverview">
    <app-full-content-template>
      <router-outlet></router-outlet>
    </app-full-content-template>
  </div>
  <div *ngSwitchCase="Applications.Cases">
    <router-outlet></router-outlet>
  </div>
  <div *ngSwitchCase="Applications.Settings">
    <router-outlet></router-outlet>
  </div>
  <div *ngSwitchDefault>
    <app-default-template>
      <router-outlet body></router-outlet>
    </app-default-template>
  </div>
</ng-container>
