<ion-header  translucent>
 <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Faculty Fee Input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-end">
   
        <ion-button color="primary" size="small" (click)="onBtExport()">Export to Excel</ion-button>
        <!-- <ion-button color="primary" size="small" (click)="updateAll()">Update All</ion-button> -->

        <!-- <ion-button color="primary" (click)="saveData()">Save Data</ion-button> -->
        <ion-button color="primary"  size="small" (click)="addFaculty()">Add Faculty</ion-button>
     
    </ion-row>
    </ion-grid>
<ag-grid-angular
   style="width: 100%; height: 100%"
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="rowData"
   [rowSelection]="'multiple'"
   [animateRows]="true"
   (gridReady)="onGridReady($event)"
   (cellClicked)="onCellClicked($event)"
   [allowContextMenuWithControlKey]="true"
   [getContextMenuItems]="getContextMenuItems"
   [sideBar]="true"
 ></ag-grid-angular>
</ion-content>
